@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', 'Anek Bangla', sans-serif;
  --font-bengali: 'Anek Bangla', sans-serif;
  --font-michroma: 'Michroma', sans-serif;
}

body {
  background-color: #050505;
  color: #fafafa;
}
